.toggle-switch {
  width: 56px;
  height: 28px;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.toggle-switch__checkbox {
  opacity: 0;
}

.toggle-switch__circle {
  position: absolute;
  left: -1px;
  top: -1px;
  width: 28px;
  height: 28px;
  background-color: black;
  border-radius: 50%;
  transition: transform 0.4s ease;
}

.toggle-switch__text_F {
  position: absolute;
  left: 8px;
  top: 4px;
  font-size: 14px;
  color: white;
  transition: transform 0.4s ease;
}

.toggle-switch__text_C {
  position: absolute;
  right: 8px;
  top: 4px;
  font-size: 14px;
  color: gray;
  transition: transform 0.4s ease;
}

.toggle-switch__checkbox:checked + .toggle-switch__circle {
  transform: translateX(28px);
}

.toggle-switch__checkbox:checked ~ .toggle-switch__text_F {
  color: gray;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__text_C {
  color: white;
}
