.modal__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.modal__input {
  padding: 8px;
  margin-top: 5px;
}

.modal__fieldset {
  border: none;
  margin-top: 10px;
}

.modal__radio-label {
  display: block;
  margin-bottom: 8px;
}
