.card {
  list-style-type: none;
  padding: 12px;
  border-radius: 16px;
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 8px;
  max-width: 328px;
}

.card__name {
  margin: 0;
  font-weight: 600;
  text-align: center;
}
